streamlit
unstructured[all-docs]
langchain == 0.0.316 
pydantic 
lxml
langchain-google-genai
google.generativeai
chromadb==0.4.15
pysqlite3-binary
google-generativeai
langsmith 
langchainhub
openai==0.28.1
tiktoken 
opencv-python
tensorflow-probability
imageio 
pillow
ipython
pinecone-client
pinecone



